
.navbar-brand {
    float: left;
    height: 0px;
    padding: 0px 0px;
    padding-right: 20px;
    font-size: 0px;
    line-height: 0px;
}

.navbar-brand>img {
    display: inline-flex;
    position: absolute;
    top: 15%;
    left: 1%;
}
.navbar ul li {
    position:relative;
    z-index:2;
    margin:0 auto;
    left:35px;
    list-style-type:none;
}

.fa{
  position: absolute;
  left: -90%;
  top: 80%;
}

.dropdown ul li{
  position: absolute;
  left: -90%;
  top: 80%;
}

.element ul,li,a{
  display: block;
  padding: 5px 5px;
  padding-left: 50px;
}

.jumbotron{
  background: rgb(255,255,255);
  background-image: url(cover3.jpg);
  background-size: 1100px;
  background-repeat: no-repeat;
  height: 650px;
}

.prod{
  position: absolute;
  top: 20%;
  left: 66%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Slabo 27px', serif;
}

.desc{
  position: absolute;
  top: 30%;
  left: 65%;

}

.number2{
  background: rgb(255,255,255);
  background-image: url(pencil2.png);
  background-size: 1200px;
  background-repeat: no-repeat;
  height: 600px;
}

.prod2{
  position: absolute;
  top: 130%;
  left: 10%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Slabo 27px', serif;
}

.desc2{
  position: absolute;
  top: 140%;
  left: 25%;

}

.top{
  position: absolute;
  top: 125%;
  left: 10%;

}

.number3{
  background: rgb(255,255,255);
  background-image: url(key.png);
  background-size: 1200px 600px;
  background-repeat: no-repeat;
  height: 600px;
}

.prod3{
  position: absolute;
  top: 230%;
  left: 60%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Slabo 27px', serif;
}

.desc3{
  position: absolute;
  top: 242%;
  left: 70%;

}

.top2{
  position: absolute;
  top: 225%;
  left: 72%;

}

.side{
  padding: 0;
}

img {
    vertical-align: middle;
}