

body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(background6.jpg);
  background-size: 1100px 2000px;
}

#wrapper {
  width: 960px;
  background: rgba(255,255,255,0.75);
  margin: 20px auto 20px auto;

}


h1 {
  font-family: arial;
  font-size: 100px;
	color: rgb(0,50,50);
  text-align: center;
  font-weight: bold;

}

h5,p{
  margin-left:10px;
  margin-right: 0px;
}

#image{
  margin-left: 0px;
  margin-right: 0px;
}

h4 {
	color: rgb(0,100,50);
  margin-left: 10px;
}

.text{
  position: relative;
  bottom: 50px;
  left:0px;
  background: rgba(255,255,255,0.8);
  text-indent: 2px;
  color: black;
  font-style: italic;
  font-weight: bold; 
  visibility: hidden;
}

.container {
  margin-top:5px;
  margin-bottom:5px;
}

.container{
  color:#E59934;
}

.container ul li {
  margin:17px;
  padding:5px;
  width: 175px;
  height:250px;
  float: left;  
  border: 1px solid darkgray;
  list-style:none;
      
}
.container ul li:hover {
  border: 1px solid orange;
}

.container ul li:hover .text {
  visibility: visible;
}